*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #212529;
    font-family: sans-serif;
}

#container{
    background-color: #6c757d;
    margin: 3rem;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 60px;
    margin: 1rem 0;
}

h2{
    margin-bottom: 2rem;
}

#estrutura{
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    flex-wrap: wrap;
}

ol{
    margin: 2rem 0;
}

li{
    width: 20rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

span{
    margin-right: 0.7rem;
}

#subtitulo{
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.letraVerde{
    color: #d4d700;
}