*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #4f0000;
}

.homebar{
    display: flex;
    width: 100%;
    background-color: #0582ca;
}

.botao{
    margin-left: 0;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 0.5rem 2rem;
    margin: 0.25rem auto;
    text-decoration: none;
}

.botao:hover{
    background-color: #323031;
}

.texto{
    color: white;
    margin-top: 0.5%;
    text-align: center;
}

p{
    width: 50%;
    margin-left: 25%;
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;
}

img{
    margin-top: 2rem;
    border-radius: 10px;
}

#fimimg{
    margin-bottom: 1rem;
}

ul{
    color: white;
    font-size: 20px;
}

#micro1{
    width: 25%;
    margin-top: 2rem;
    margin-right: 25rem;
    margin-left: 2rem;
}

#micro2{
    width: 40%;
}

li{
    margin-top: 3rem;
}